* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    font-family: "Poppins", "sans-serif";
}

h1 {
    font-size: 20rem;
    letter-spacing: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: url(img/4.jpg) 50% 50%;
    background-size: cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}